<ng-container *ngIf="character">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <br>
    <label for="experience">Experience: </label>
    <input id="experience" type="text" name="experience" formControlName="experience">
    <hr>
    <ng-container formGroupName="actorValues">
      <ng-container *ngFor="let av of character.actorValues">
        <label [for]="av.name">{{ av.name }}: </label>
        <input [id]="av.name" type="number" [formControlName]="av.name">
        <br>
      </ng-container>
    </ng-container>
    <hr>
    <button type="submit">Save</button>
  </form>
</ng-container>

