<ng-container *ngIf="character">
  <form #characterForm (ngSubmit)="onSubmit()">
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" [(ngModel)]="character.name">
    <label for="experience">Experience: </label>
    <input id="experience" type="text" name="experience" [(ngModel)]="character.experience">
    <label for="actorValues">Actor values: </label>
    <div formGroupName="actorValues">
      <ng-container *ngFor="let av of character.actorValues">
        <label [for]="av.name">{{ av.name }}: </label>
        <input [id]="av.name" type="number" [name]="av.name" [(ngModel)]="av.baseValue">
      </ng-container>
    </div>
    <button type="submit">Save</button>
  </form>
</ng-container>

